/*Author: Dema Siva Mangala Gowridevi Akasapu
Student ID: 8764398 */


/*style rule for html body*/

body {
    background-image: url("media/pexels-jess-bailey-designs-1119794.jpg");
    background-size: cover;
    width: 1300px;
}


/*style rule for header elements*/

header h2,
h3 {
    color: white;
    text-align: center;
}


/*style rule for section elements*/

section {
    width: 700px;
    float: left;
}


/*style rule for aside elements*/

aside>div>p {
    margin: 30px auto;
}

aside {
    width: 600px;
    float: right;
}


/*style rule for form elements*/

form {
    width: 380px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: white;
    background-color: #023c53;
    border-radius: 20px;
}

.formData {
    width: 320px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: white;
    display: none;
    background-color: #023c53;
    border-radius: 20px;
}

form>h3,
div>h3 {
    font-style: italic;
}


/*style rule for label elements*/

label {
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: white;
    padding-top: 1em;
}


/*style rule for input elements*/

input:not([type="radio"]) {
    font-size: 16px;
    padding: 5px 10px;
}

input[type="submit"] {
    width: 80%;
    font-size: 20px;
    background-color: #bc2990;
    color: white;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px #8c087a;
    border-radius: 8px;
}


/*style rule for table elements*/

table,
tr,
td,
th {
    border: 1px solid white;
    width: 100%
}


/*style rule for footer elements*/

footer {
    float: left;
}